.root{
    display: flex;
}
.activeUser{
    padding: 2px 20px;
    width:200px ;
    height: 400px;
    margin: 50px 0px 0px 30px;
}
.chat{
    width:1000px;
    height: 500px;
    margin:50px 0px 0px 20px;
}
.icon{
    padding: 10px 20px;
}
.chatBox{
    display: grid;
}
.message{
    display:flex;
    margin-top: 40px;
}