.paperStyle{
    padding: 30px 20px !important;
    width:300px !important;
    margin: 30px auto !important;
}

.buttonMargin {
    margin-top :10px !important;
    color:gray !important; 
    border : solid 1px black !important;
}

.header {
    margin-top :5px !important;
    margin:5px !important;
}
.errorMessage {
    color: red;
}